# Add your Python dependencies here
numpy
pandas
openpyxl
# scikit-learn
# tensorflow
# keras==3.10.0
# datasets==2.17.0 
# transformers==4.38.2 
# evaluate==0.4.0 
# rouge_score==0.1.2 
# peft
langchain
langchain-community
# tiktoken
PyPDF2
openai
faiss-cpu
# faiss-gpu
torch
sentence_transformers
feedparser
tf_keras
uvicorn
fastapi
google-cloud-storage
python-multipart